@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.loader-ring {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray border */
  border-top: 4px solid #3498db; /* Blue border for the top */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[contenteditable]:empty::before {
  content: attr(data-placeholder);
  @apply text-gray-400;
  pointer-events: none;
  display: block;
  white-space: pre-wrap; /* Supports multiline placeholders */
}

.fallback-pdf * {
  color: rgb(0, 0, 0) !important;
  background-color: white !important;
}
